/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
*::selection{
    background-color: #d68cf3;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}
.contanier{
    width: 85%;
    margin: auto;
}
.btn{
    padding: 15px 30px;
    color: #01204C;
    font-weight: 500;
    background-color: #d68cf3;
    border-radius: 10px;
    border: 1px solid #d68cf3;
}

.btn:hover{
    color: #d68cf3;
    background: #fff;
}

section{
    padding: 90px 0 40px;
}

.sec-top{
    text-align: center;
    margin-bottom: 50px;
}
.sec-top h1{
    color: #01204C;
    font-size: 45px;
}
.sec-top h1 span{
    color: #d68cf3;
}

.boxs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxs .box{
    width: 30%;
}
/* start Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #01204C;
    height: 80px;
    z-index: 1000;

}
header.active{
    background-color: #01204C;
    border-bottom: 1px solid #8888884a;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header nav .nav-links a{
    color: #fff;
    margin-left: 50px;
}
header nav .nav-links a:hover,
header nav .nav-links a.active{
    color: #d68cf3;
}

#btn-menu{
    display: none;
}

/* start Hero */

.hero{
    padding-top: 80px;
    background: url(img/hero-bg.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .content h4{
    color: #d68cf3;
    font-size: 30px;
}
.hero .content h1{
    color: #fff;
    font-size: 65px;
    margin: 20px 0 10px;
}
.hero .content p{
    color: #e4e4e4;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
}
.hero .content .btn{
    font-size: 18px;
}
.hero .hero-img img{
    width: 450px;
}
 /* start about */ 

 .about{
    padding-top: 10px;
    background: url(img/about-bg.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content h3{
    color: #01204C;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    
}

.about .content p{
    color: #01204C;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-style: italic;
}

/* start experience */
.experience{
    padding-top: 10px;
    background: url(img/exp-bg.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience h1{
    text-align: center;
    margin-bottom: 50px;
}
.experience h1{
    color: #01204C;
    font-size: 40px;
}
.experience h1 span{
    color: #fff;
}
.experience .boxs {
    padding: 10px 10px;
}
.experience .boxs .box{
    width: 100%;
    background-color: #01204C;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(128, 112, 22, 0.2);
    position: relative;
    top: 0;
}

.experience .boxs .box:hover{
    top: -25px;
}
.experience .boxs .box i{
    color: #d68cf3;
    font-size: 30px;
    margin-right: 15px;
}
.experience .boxs .box h3{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}
.experience .boxs .box span{
    font-size: 15px;
    color: #d68cf3 ;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}
.experience .boxs  p{
    color: #01204C;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: 25px;
}

/* start education */

.education{
    background-color: #f0f4f9;
    text-align: center;
}
.education .boxs .box{
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(128, 112, 22, 0.2);
    position: relative;
    top: 0;
}
.education .boxs .box:hover{
    top: -25px;
}
.education .boxs .box i{
    color: #d68cf3;
    font-size: 50px;
    margin-bottom: 20px;
}
.education .boxs .box h3{
    color: #01204C;
    font-size: 24px;
    margin-bottom: 20px;
}
.education .boxs .box p{
    color: #444;
    margin-bottom: 50px;
}
/* start Portfolio */
.portfolio .boxs .box{
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.portfolio .boxs .box img{
    width: 100%;
    height: 100%;
}
.portfolio .boxs .box:hover img{
    transform: scale(1.2);
    rotate: -4deg;
    transition: 0.6s ease-out;
}
.portfolio .boxs .box .box-hover{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #111111b9;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    opacity: 0;
}
.portfolio .boxs .box:hover .box-hover{
    opacity: 1;
}
.portfolio .boxs .box .box-hover span{
    color: #fff;
    font-size: 25px;
}

/* start Connect */

.connect{
    background: #89beff;
}
.connect h1{
    text-align: center;
    margin-bottom: 50px;
}
.connect h1{
    color: #01204C;
    font-size: 40px;
}
.connect h1 span{
    color: #fff;
}
.connect .content {
    font-size: 20px;
    align-items: center;
}
.connect .gmail h1{
    font-size: 25px;
    font-weight: 400;

}
.connect .gmail i{
    color: #4c0c65;

}
.connect .socials i{
    font-size: 40px;
}
.connect .socials i:hover{
    color: #d68cf3;

}

/* Media */

@media(max-width:1200px){
    .contanier{
        width: 90%;
    }
    .hero .content h1{
        font-size: 50px;
    }
    .hero .content p{
        font-size: 25px;
    }
    .hero .hero-img img{
        width: 380px;
    }
    .hero{
        padding-bottom: 40px;
    }
    .about .content h3{
        font-size: 20px;
    }
    .about .content p{
        margin-bottom: 50px;
    }
    .about .about-img img{
        width: 380px;
    }
    .education .boxs .box h3{
        font-size: 22px;
    }
    .contact form{
        width: 70%;
    }

}
@media(max-width:900px){
    .hero .content h1{
        font-size: 40px;
    }
    .hero .content p{
        font-size: 22px;
    }
    .hero .hero-img img{
        width: 340px;
    }
    header nav .nav-links a{
        margin-left: 40px;
    }
    .about .contanier{
        flex-direction: column;
        text-align: center;
    }
    .about .about-img img{
        width: 340px;
    }
    .about .about-img {
        margin-bottom: 40px;
    }
    .boxs .box{
        width: 45%;
        margin-bottom: 40px;
    }
    .contact form{
        width: 80%;
    }
}
@media(max-width:780px){
    .hero .contanier{
        flex-direction: column-reverse;
    }
    .hero .hero-img img{
        width: 380px;
    }
    .hero .content h1{
        font-size: 50px;
    }
    .hero .content{
        margin-top: 40px;
        text-align: center;
    }
    .btn{
        padding: 12px 25px;
    }
    #btn-menu{
        display: block;
        color: #fff;
        font-size: 40px;

    }
    header nav .nav-links{
        position: absolute;
        top: -350px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #01204C;
    }
    header nav .nav-links.active{
        top: 100%;
    }
    header nav .nav-links a{
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid #444;
    }
    header nav .nav-links a.active,
    header nav .nav-links a:hover{
        background-color: #d68cf3;
        color: #01204C;
    }
}
@media(max-width:670px){
    .hero .content h1{
        font-size: 40px;
    }
    .hero .hero-img img{
        width: 320px;
    }
    .boxs{
        justify-content: center;

    }
    .boxs .box{
        width: 70%;
    }
    .contact form{
        width: 90%;
    }
}
@media(max-width:500px){
    .hero .hero-img img{
        width: 280px;
    }
    .contact form{
        width: 90%;
        justify-content: center;

    }
    .contact form input{
        width: 100%;
    }
}